.bouncing-blob {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-origin: left top;
}

.bouncing-blob--white {
  width: 60px;
  height: 60px;
  z-index: 2;
}

.bouncing-blob--blue {
  background-color: #4783c7;
}

.bouncing-blob--purple {
  background-color: #8c8ff1;
}

.bouncing-blob--pink {
  background-color: #e289cd50;
}

.bouncing-blobs-container {
  position: absolute; /* fixed yerine absolute kullanıyoruz */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  min-height: 100vh; /* Minimum yüksekliği viewport yüksekliğine ayarlıyoruz */
}

.bouncing-blobs-glass {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(240px);
  -webkit-backdrop-filter: blur(240px);
  pointer-events: none;
}

.bouncing-blobs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
}

@media (max-width: 768px) {
  .bouncing-blob {
    width: 64px;
    height: 64px;
  }
  
  .bouncing-blob--white {
    width: 30px;
    height: 30px;
  }
  
  .bouncing-blobs-glass {
    backdrop-filter: blur(190px);
    -webkit-backdrop-filter: blur(190px);
  }
}