.bouncing-blob {
  width: 128px; /* Sabit genişlik */
  height: 128px; /* Sabit yükseklik */
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-origin: left top;
}
.bouncing-blob--white {
  width: 60px; /* Daha küçük sabit genişlik */
  height: 60px; /* Daha küçük sabit yükseklik */
  z-index: 2;
}
.bouncing-blob--blue {
  background: #4783c7;
}

.bouncing-blob--purple {
  background: #8c8ff1;
}
.bouncing-blob--pink {
  background: #e289cd50;
}
.bouncing-blobs-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.bouncing-blobs-glass {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  pointer-events: none;
}
.bouncing-blobs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
}

@media (max-width: 768px) {
  .bouncing-blob {
    width: 64px; /* Daha küçük boyut mobil cihazlar için */
    height: 64px;
  }
  .bouncing-blob--white {
    width: 30px;
    height: 30px;
  }
  .bouncing-blobs-glass {
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
  }
}