.blob {
    background: white;
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    background: linear-gradient(
        180deg,
        #8b52ff,
        #17f1d1
    );
    animation: rotate 20s infinite;
    filter:  blur(120px);

}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
       transform: scale(1, 1.5);
    }

    to {
        rotate: 360deg;
    }
}