.bouncing-blob {
  width: 32vw;
  aspect-ratio: 1; /* En boy oranını korumak için aspect-ratio kullanın */
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-origin: left top;
}

.bouncing-blob--blue {
  background-color: #d5962a; /* Arka plan rengi için 'background-color' kullanın */
}

.bouncing-blob--white {
  background-color: #ffffff; /* Arka plan rengi için 'background-color' kullanın */
  z-index: 2;
  width: 15vw;
}

.bouncing-blob--purple {
  background-color: #ff9456; /* Arka plan rengi için 'background-color' kullanın */
}

.bouncing-blob--pink {
  background-color: #e2570050; /* Arka plan rengi için 'background-color' kullanın */
}

.bouncing-blobs-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bouncing-blobs-glass {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px); /* WebKit tabanlı tarayıcılar için */
  pointer-events: none;
}

.bouncing-blobs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

@media (max-width: 1200px) {
  .bouncing-blobs-glass {
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px); /* WebKit tabanlı tarayıcılar için */
  }
}

@media (max-width: 500px) {
  .bouncing-blob {
    width: 60vw;
  }

  .bouncing-blob--white {
    width: 30vw;
  }

  .bouncing-blobs-glass {
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px); /* WebKit tabanlı tarayıcılar için */
  }
}