@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PinkChicken';
	src: url('.././assets/PinkChicken-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  
  nav {
	transition: transform 0.3s ease-in-out;
  }
  .border-b-1-1\/2 {
    border-bottom-width: 1.5px;
}
.cstmimg {
  position:absolute;
  transform:translate(25.6rem,-16.5rem);
  zoom: calc(0.2);
}
.text-slate-500 {
  color: black;
}
.bg-orng-500 {
    --tw-bg-opacity: 1;
  background-color: rgb(255 147 92);
}
.hover\:bg-orng-600:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(252 172 129);
}
.focus\:ring-orng-500:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(255 191 120/var(--tw-ring-opacity));
}
.focus\:ring-22:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) rgb(255 191 120);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}
  .hidden-nav {
	transform: translateY(100%);
  }
  .max-h-10 {
    max-height: 5.5rem;
}

:root {
  --topbar-offset: 12px;
}

figcaption {
    font-family: 'PinkChicken', sans-serif;
    top: -2rem;
    position: relative;
    user-select: none;
}
.bg-gray-202-pre {
  --tw-bg-opacity: 1;
  background-color: rgb(244, 222, 199);
}
.grecaptcha-badge {
  user-select: none;
}
.hashnode-content-style{
    @apply prose break-words text-slate-950 first:prose-p:mt-0 prose-img:max-w-full prose-p:leading-snug hover:prose-a:bg-primary-50 dark:hover:prose-a:text-primary-500 dark:hover:prose-a:bg-neutral-800 dark:text-neutral-50 prose-blockquote:leading-snug prose-a:leading-snug prose-figure:leading-snug prose-figcaption:leading-snug prose-pre:leading-snug prose-li:leading-snug prose-ul:leading-snug prose-ol:leading-snug prose-th:leading-snug prose-td:leading-snug lg:prose-xl dark:prose-invert dark:prose-pre:bg-neutral-900 first:prose-h1:mt-0 first:prose-h2:mt-0 first:prose-h3:mt-0 first:prose-h4:mt-0 first:prose-h5:mt-0;
}
/* Override to remove the backtick */
.hashnode-content-style :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::before, .hashnode-content-style :where(code):not(:where([class~="not-prose"],[class~="not-prose"] *))::after  {
    content: none;
}
.hashnode-content-style :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))):hover {
    background-color: transparent;
    color: hsl(28, 100%, 50%);
}
.hashnode-content-style :is(:where(a):not(:where([class~=not-prose],[class~=not-prose] *))) {
    text-decoration-line: none;
}
div#circusll {
    --tw-translate-y: 7%;
    --tw-translate-x: 2%;
    font-family: monospace;
}
.hover\:text-primary-650:hover {
    --tw-text-opacity: 1;
    color: rgb(226 121 0);
}

.fixed.top-1\/2.left-1\/2.transform.-translate-x-1\/2.-translate-y-1\/2.z-10.mt-0.flex.w-full.max-w-4xl.flex-col.items-stretch.overflow-hidden.rounded-lg.border.bg-white.p-1.text-left.text-slate-900.shadow-2xl.dark\:border-neutral-800.dark\:bg-neutral-900.dark\:text-neutral-50 {
  box-shadow: 0 0 90rem black;
}

a.text-gray-700.transition.hover\:text-gray-700\/75 {
    font-family: ui-monospace;
}
.prose code {
    border-radius: 0.25rem;
    font-weight: 400 !important;
    padding: 0.25rem;
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity));
    font-size: 80%;
    background: #f0efed;
}
  
.dark .prose code {
    --tw-bg-opacity: 1;
    background-color: rgba(36, 41, 46, var(--tw-bg-opacity));
    --tw-text-opacity: 1;
    color: rgba(238, 238, 238, var(--tw-text-opacity));
}
  
.prose pre {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
  
.prose pre code {
    background-color: transparent;
    border-radius: 0px;
    font-weight: 500 !important;
    padding: 0px;
    font-size: 100%;
    color: #fafafa;
}

.dark .prose pre code {
    background-color: transparent;
    color: #ddd;
}

.py-15 {
	padding-bottom: 1.75rem;
}

/*   Custom header title css  */

.text-5xl {
    font-size: 3rem;
    line-height: 1;
}
.mt-2 {
    margin-top: .5rem;
}
.text-purple-500 {
    --tw-text-opacity: 1;
    color: rgba(139, 92, 246, var(--tw-text-opacity));
}
.max-w-xl {
    max-width: 36rem;
}
h1, h2, h3 {
    font-family: 'PinkChicken', sans-serif;
}

/* Custom Scrollbar */
/*
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    display: none;
}

::-webkit-scrollbar-thumb:hover {
    display: none;
}
*/
.hover\:orangeshadow:hover {
  text-shadow: 0 0 2px rgb(249 115 22);
}
.embed-wrapper {
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/*   scroll-up   */

*,
*:after,
*:before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

:root {
	--line: hsl(0 0% 5% / 0.15);
	--accent: canvas;
	--padding: 2rem;
	--distance: 10vh;
	accent-color: hsl(0 100% 50%);
	color-scheme: light only;
}

#cta {
	display: grid;
	white-space: nowrap;
	text-decoration: none;
	color: canvasText;
	width: 40px;
	height: 40px;
	aspect-ratio: 1;
	place-items: center;
}

#cta svg {
	width: 24px;
	stroke-width: 3;
}

#cta:is(:hover, :focus-visible) {
	--intent: 1;
}

#cta::after {
	content: "";
	position: absolute;
	inset: 0;
	background: canvasText;
	border-radius: 100px;
	opacity: calc(var(--intent, 0) * 0.1);
	transition: opacity 0.2s;
}

@supports (animation-timeline: scroll()) {
	@property --show {
		inherits: true;
		initial-value: 0;
		syntax: '<number>';
	}
	#cta {
		position: fixed;
		bottom: 1rem;
		right: 1rem;
		translate: 0 calc(20vh - (var(--show, 0) * 20vh));
		transition: translate 0.875s linear(
	    0, 0.5007 7.21%, 0.7803 12.29%,
	    0.8883 14.93%, 0.9724 17.63%,
	    1.0343 20.44%, 1.0754 23.44%,
	    1.0898 25.22%, 1.0984 27.11%,
	    1.1014 29.15%, 1.0989 31.4%,
	    1.0854 35.23%, 1.0196 48.86%,
	    1.0043 54.06%, 0.9956 59.6%,
	    0.9925 68.11%, 1
	  );
	}	
	body {
		animation: show-cta both steps(1);
		animation-timeline: scroll(root);
		animation-range: 0 var(--distance);
	}
	@keyframes show-cta {
		to { --show: 1; }
	}
}

::selection {
    background-color: hsl(30.98deg 100% 39.84% / 22%); 
}
::-webkit-scrollbar {
  background-color: var(--darkreader-bg--yt-spec-general-background-a);
}
html[hide-scrollbar] ::-webkit-scrollbar {
  display: none !important;
}
::-webkit-scrollbar-thumb {
background-color: #f3c9ab !important;
}
::-webkit-scrollbar{
background-color: transparent !important;
}
::-webkit-selection {
    background-color: hsl(30.98deg 100% 39.84% / 22%);
}
h3::selection {
    background-color: hsl(30.98deg 100% 39.84% / 40%);
}
h2::selection {
    background-color: hsl(30.98deg 100% 39.84% / 50%);
}
h1::selection {
    background-color: hsl(30.98deg 100% 39.84% / 10%);
}
img {
  -webkit-user-drag: none; /* Safari */
  user-select: none;       /* Standard: Prevent text selection */
  pointer-events: none;    /* Prevent most interactions (optional) */
}
.hover\:bg-orng-cokie:hover {
    background-color: #ff935ca1;
}
.bg-orng-cokie {
    background-color: #ff935c57;
}
.bottom-2 {
    bottom: 2rem;
}
button.SketchButton_sketch-button__dkxwe:hover {
    background-image: linear-gradient(90deg, rgba(229, 137, 48, .59), rgba(255, 255, 255, .56), rgba(229, 137, 48, .59));
    color: black;
}
button.SketchButton_sketch-button__dkxwe {
    background-image: linear-gradient(90deg, rgba(255, 255, 255, .56), rgba(229, 137, 48, .29), rgba(255, 255, 255, .56));
    color: black;
    font-family: PinkChicken, sans-serif;
}
.sketch-button {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    border-radius: 11px;
    padding: 12px 20px;
    position: relative;
    line-height: 24px;
    color: #14387e;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.02), 0 4px 16px rgba(0, 0, 0, 0.02), 0 4px 24px rgba(0, 0, 0, 0.02);
  }
  .sketch-button.start svg {
    -webkit-animation: stroke 1s linear;
            animation: stroke 1s linear;
  }
  .sketch-button .lines {
    position: absolute;
    inset: 0;
    mix-blend-mode: hard-light;
    pointer-events: none;
    z-index: 1;
  }
  .sketch-button .lines > div {
    position: absolute;
    inset: 0;
  }
  .sketch-button .lines > div:last-child {
    transform: rotate(180deg);
  }
  .sketch-button .lines > div svg {
    display: block;
    position: absolute;
    inset: 0;
    overflow: visible;
    fill: none;
    stroke-width: 2;
    stroke: #c9e9ff;
    width: 100%;
    height: 100%;
    stroke-dasharray: 2 10;
    stroke-dashoffset: 14;
    opacity: 0;
  }
  .sketch-button .lines > div svg:nth-child(1) {
    stroke: #f8fcff;
  }
  .sketch-button .lines > div svg:nth-child(2) {
    stroke-width: 6px;
    filter: blur(20px);
  }
  .sketch-button .lines > div svg:nth-child(3) {
    stroke-width: 5px;
    filter: blur(6px);
  }
  .sketch-button .lines > div svg:nth-child(4) {
    stroke-width: 10px;
    filter: blur(56px);
  }
  
  @-webkit-keyframes stroke {
    30%, 55% {
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 4;
      opacity: 0;
    }
  }
  
  @keyframes stroke {
    30%, 55% {
      opacity: 1;
    }
    100% {
      stroke-dashoffset: 4;
      opacity: 0;
    }
  }
  html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }

  .sticky-wrapper {
    position: relative;
    height: 100%;
  }
  
  .sticky-toc {
    position: sticky;
    top: 20px; /* Adjust this value to set the distance from the top of the viewport */
    max-height: calc(100vh - 40px); /* Adjust based on your needs */
    overflow-y: auto;
  }
  
  article > div > p > a {
    color: #f70 !important;
  }

  .hashnode-content-style :where(a):not(:where([class~=not-prose],[class~=not-prose] *)) {
    color: #f70 !important;
  }